body {
  margin: 0;
  overflow-x: hidden;
  font-family: sans-serif;
}

.page {
  height: 6000vh;
}

.intro {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scene {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#fleur {
  width: 100px;
  transform: scale(0.3);
}

#pigeon1,
#pigeon2 {
  position: absolute;
  width: 120px;
  opacity: 0;
}

#crotte {
  position: absolute;
  width: 20px;
  height: 20px;
  background: brown;
  border-radius: 50%;
  bottom: 100px;
  opacity: 0;
}

/* #image0_19_1311 {
  width: 200px;
  height: 150px;
} */
